*.out
*.o
*.so
*.a
*.*.swp
.DS_Store

data/program_data/func_dump_dir/*
!data/program_data/func_dump_dir/.keep

data/user_data/boilerplates/*
data/user_data/user_config_files/*
data/user_data/instances/*
data/user_data/current_defaults.qtc
data/user_data/func/*
data/user_data/outputs/*
data/user_data/alias_file.qtc
data/user_data/rename_file.qtc
data/user_data/current_defaults/*
data/user_data/func_dump_dir/*

!data/user_data/boilerplates/.keep
!data/user_data/user_config_files/.keep
!data/user_data/instances/.keep
!data/user_data/func/.keep
!data/user_data/outputs/.keep
!data/user_data/current_defaults/.keep
!data/user_data/func_dump_dir/.keep

commands/user_commands/*

!commands/user_commands/.keep

src/utils/bin/*
src/utils/libs/*

!src/utils/bin/.keep
!src/utils/libs/.keep

src/quicktest.qtc
src/sub_commands/*/*.qtc
