*.out
*.o
*.so
*.a
*.*.swp

data/user_data/boilerplates/*
data/user_data/user_config_files/*
data/user_data/instances/*
data/user_data/current_defaults

!data/user_data/boilerplates/.keep
!data/user_data/user_config_files/.keep
!data/user_data/instances/.keep

commands/user_commands

!commands/user_commands/.keep

utils/bin/*
utils/libs/*

!utils/bin/.keep
!utils/libs/.keep
